################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/Crypto/.vs/Crypto/v16
/C#/Crypto/Authenticator/bin/Debug/netstandard2.0
/C#/Crypto/Authenticator/obj
/C#/Crypto/Crypto/bin/Debug/netcoreapp3.0
/C#/Crypto/Crypto/obj
/C#/Crypto/.vs/Crypto/DesignTimeBuild
/js/crypto/node_modules/jssha
/C++/.build
/go/loadlib/.idea
/go/loadlib/math/.vs/math/v16
/go/loadlib/math/math/Debug
/go/loadlib/math/math/x64/Debug
/go/cgo/.idea
/go/loadlib/math/x64/Debug
/go/cgo/math.dll
/go/cgo/main.exe
/go/.idea
/go/cgo/queue/lib/.vs
/go/cgo/queue/lib/out/build/x64-Debug
/C#/Language/.vs/Language/v16
/C#/Language/CustomComparerHashSet/bin/x64/Debug/netcoreapp3.1
/C#/Language/CustomComparerHashSet/obj
/JSP/MyWebsite/out
/C#/gRPC/Client/.vs/Client
/C#/gRPC/Client/Client/bin/Debug/netcoreapp3.1
/C#/gRPC/Client/Client/obj/Debug/netcoreapp3.1/Protos/Math.cs
/C#/gRPC/Client/Client/obj
/Java/out/production/Java
/C#/Language/XMLCreater/bin/Debug/netcoreapp3.1
/C#/Language/XMLCreater/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/C#/Language/XMLCreater/obj
/C++/.vs
/C++/out/build/x64-Debug
